<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<dict>
			<key>mainImage</key>
			<string>pig</string>
			<key>name</key>
			<string>猪</string>
			<key>enName</key>
			<string>Pig</string>
			<key>characteristic</key>
			<string>猪有天赋拱土的遗传特性，拱土觅食是猪采食行为的一个突出特征。猪鼻子是高度发育的器官，在拱土觅食时，嗅觉起着决定性的作用。尽管在现代猪舍内，猪还表现拱地觅食的特征，喂食时每次猪都力图占据食槽有利的位置，有时将两前肢踏在食槽中采食，如果食槽易于接近的话，个别猪甚至钻进食槽，站立食槽的一角，就像野猪拱地觅食一样，以吻突沿着食槽拱动，将食料搅弄出来，抛洒一地</string>
			<key>bigImages</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>dog</string>
			<key>name</key>
			<string>狗</string>
			<key>enName</key>
			<string>Dog</string>
			<key>characteristic</key>
			<string>犬的嗅觉灵敏度位居各畜之首，眼瞎的狗可以利用鼻子生活的像正常犬。犬灵敏的嗅觉主要表现两个方面：一是对气味的敏感程度；二是辨别气味的能力。敏感度会因味道的种类而有所差别，狗发现气味的能力是人类的100万甚至1000万倍，分辨气味的能力超过人的1000多倍，可以分辨出大约2万种不同的气味，经过专门训练的优秀警犬能辨别10万种以上的不同气味。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>cat</string>
			<key>name</key>
			<string>猫</string>
			<key>enName</key>
			<string>Car</string>
			<key>characteristic</key>
			<string>猫的趾底有脂肪质肉垫，因而行走无声，捕鼠时不会惊跑鼠，趾端生有锐利的指甲。爪能够缩进和伸出。猫在休息和行走时爪缩进去，只在捕鼠和攀爬时伸出来，防止指甲被磨钝</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>lion</string>
			<key>name</key>
			<string>狮子</string>
			<key>enName</key>
			<string>lion</string>
			<key>characteristic</key>
			<string>狮子是世界上唯一一种雌雄两态的猫科动物。雄狮有鬃毛，而雌狮没有。狮子拥有猫科动物中最大的头骨和肩高，雄兽普遍的要大于雌兽。雄兽的头体长一般在35-38厘米， 雌兽一般在28-32厘米。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>tiger</string>
			<key>name</key>
			<string>老虎</string>
			<key>enName</key>
			<string>Tiger</string>
			<key>characteristic</key>
			<string>虎的体态雄伟，毛色绮丽，头圆，吻宽，眼上方有一个白色区，故有“吊睛白额虎”之称，前额的黑纹颇似汉字中的“王”字，更显得异常威武，因此被誉为“山中之王”或“兽中之王”。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>dragon</string>
			<key>name</key>
			<string>恐龙</string>
			<key>enName</key>
			<string>Dinosaur</string>
			<key>characteristic</key>
			<string>恐龙的体型很大，目前发现的最长的恐龙是27米长的梁龙；同时锐利的牙齿和爪子是肉食类恐龙猎食的武器。暴龙类恐龙会寻找落单的草食性恐龙，因此常常单独行动。而有些恐龙则会群体行动，锁定猎物后蜂拥而上，并用第二根趾头的脚爪割开猎物的腹部。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>elephant</string>
			<key>name</key>
			<string>大象</string>
			<key>enName</key>
			<string>Elephant</string>
			<key>characteristic</key>
			<string>大象非常聪明，能开辟场地，还能把死去的同伴安埋在落叶枯枝之中。大象寿命很长，一般能活到70岁左右，它们主要外部特征为柔韧而肌肉发达的长鼻和扇大的耳朵，具缠卷的功能，是象自卫和取食的有力工具。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>rabbit</string>
			<key>name</key>
			<string>兔子</string>
			<key>enName</key>
			<string>Rabbit</string>
			<key>characteristic</key>
			<string>兔是一种胆小的动物，突然喧闹声、生人和陌生动物，如猫狗等都会使它惊慌失措。在饲养管理中，应尽量避免引起兔子惊慌的声响，同时要禁止陌生人和猫狗等进入兔舍。家兔的听觉锐敏，嗅觉敏感，但它胆小怕惊而善跑。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>buffalo</string>
			<key>name</key>
			<string>牛</string>
			<key>enName</key>
			<string>Buffalo</string>
			<key>characteristic</key>
			<string>牛体质强壮，有适合长跑的腿，1岁以后的雄兽和雌兽的头骨上都长有一对粗大的角，角不分叉，外面还有一层坚硬的角套，角套为空心，套在骨质的角心上，并且随着角心的生长而扩大。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>fish</string>
			<key>name</key>
			<string>鱼</string>
			<key>enName</key>
			<string>Fish</string>
			<key>characteristic</key>
			<string>鱼生活在水里，分布在海洋和淡水中，海洋中生活着占三分之二，其余的生活在淡水中。中国计有二千五百种。鱼大部分是冷血动物，极少数为温血动物，用鳃呼吸。现存鱼类可分为两个主要族群：软骨鱼类（如鲨鱼等）和 硬骨鱼类。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>birds</string>
			<key>name</key>
			<string>鸟</string>
			<key>enName</key>
			<string>Bird</string>
			<key>characteristic</key>
			<string>鸟长着羽毛，能维持身体的恒温;胸部有突起的龙骨突，全身骨骼多空隙，内充气体，故身体轻便;前肢成翼，后肢行走，多数能飞行，活动范围广泛，也有的翼退化，而不能飞行，活动区域相对较小，如鸵鸟、企鹅及多数家禽等。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>bear</string>
			<key>name</key>
			<string>熊</string>
			<key>enName</key>
			<string>Bear</string>
			<key>characteristic</key>
			<string>熊平时还算温和，但是受到挑衅或遇到危险时，容易暴怒，打斗起来非常凶猛；喜欢舔食蚂蚁，盗取蜂蜜。虽然一般人把熊看做是危险的动物，但在马戏团或动物园中，却是相当受人喜爱的。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>chicken</string>
			<key>name</key>
			<string>鸡</string>
			<key>enName</key>
			<string>Chicken</string>
			<key>characteristic</key>
			<string>鸡是一种家禽，家鸡源出于野生的原鸡。公鸡打鸣是一种“主权宣告”，提醒家庭成员它至高无上的地位。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>goose</string>
			<key>name</key>
			<string>鹅</string>
			<key>enName</key>
			<string>Goose</string>
			<key>characteristic</key>
			<string>鹅是一种常见的家禽，其生活习性比较特殊，例如，具有喜水性、警觉性、耐寒性等。受到惊吓时会“”引吭高歌“，甚至俯下头，伸长脖子，主动发起攻击。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
		<dict>
			<key>mainImage</key>
			<string>deer</string>
			<key>name</key>
			<string>鹿</string>
			<key>enName</key>
			<string>Deer</string>
			<key>characteristic</key>
			<string>鹿一般生有实心的分叉的角，仅雄性有1对角，雌性无角，角的分杈逐年增多，到成年后定型，同时角也是雄鹿争偶的武器。</string>
            <key>bigImages</key>
            <array>
                <string></string>
                <string></string>
            </array>
		</dict>
	</array>
</dict>
</plist>
